<div class="container">
<div class="row">
	<div class="col-xs-12">
		<h1 class="text-center">CONTACTS</h1>
	</div>
<hr>


	<div class="form-group row">
	<h1>
	  <label for="example-tel-input" class="col-2 col-form-label">BFF</label>
	  </h1>
	  <div class="col-10">
	    <input class="form-control" type="tel" value="1-(555)-555-5555" id="example-tel-input">
	  </div>
	  <h1>
	  	  <label for="example-tel-input" class="col-2 col-form-label">Roommate</label>
	  	  </h1>
	  <div class="col-10">
	    <input class="form-control" type="tel" value="1-(555)-234-2342" id="example-tel-input">
	  </div>
	  <h1>
	  	  <label for="example-tel-input" class="col-2 col-form-label">Ex</label>
	  	  </h1>
	  <div class="col-10">
	    <input class="form-control" type="tel" value="1-(555)-567-1234" id="example-tel-input">
	  </div>
	</div>


	<a href="/profile">SAVE</a>

	</div>
</div>
