<div class="container">
<div class="row">
	<div class="col-xs-12">
		<h1 class="text-center">CONTACTS</h1>
	</div>
<hr>


	<div class="form-group row">
	  <label for="example-tel-input" class="col-2 col-form-label">DAD</label>
	  <div class="col-10">
	    <input class="form-control" type="tel" value="1-(555)-555-5555" id="example-tel-input">
	  </div>
	</div>


	<a href="/">SAVE</a>

	</div>
</div>
