<div class="container-fluid">
<div class="row">
<img class="text-left" src="http://ebvs.eu/Themes/EBVSTheme/images/placeholder.png" alt="">
<hr>
<div class="col-xs-12 text-center">
<h1>PARTY</h1>
<button class="btn block-btn-large btn-success">ON!</button>

</div>
</div>
</div>