<div style="background-image:url(img/homescreen.png);height: 100em; width:100%; background-position: center; background-size: cover; background-repeat: no-repeat;">

<div class="alert alert2">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  Hey Tom, maybe you should just call or text:
  <ul>
  	<li>Dad</li>

  </ul>
</div>
<div class="alert alert3">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  Tom, here's your
</div>
</div>
