<div style="background-image:url(img/horizlock.png);height: 100%; width:100%; background-position: center; background-size: cover; background-repeat: no-repeat;">

<div class="alert alert3">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  <h1 class="text-center">Remember your promise. Be careful who you text</h1>
</div>

</div>
