<div class="container">
<div class="row-fluid">
<div class="col-xm-9">
<img class="text-left" src="http://ebvs.eu/Themes/EBVSTheme/images/placeholder.png" alt="">

<div class="col-xm-3">
<h1>TOM</h1>
</div>



<hr>
<div class="col-xs-12 text-center">
<a href="/contacts" class="contactsbtn">CREATE SAFE LIST</a>
  <div class="form-group">
    <label for="exampleSelect1" class="tolerance btn-warning">CHOOSE TOLERANCE</label>

    <select class="form-control" id="exampleSelect1">
      <option>LOW</option>
      <option>MED</option>
      <option>HIGH</option>
    </select>
  </div>



<a href="/party" class="savebtn btn-success">SAVE</a>
</div>
</div>
</div>
