body,
html {
    height: 100%;
}

.alert {
    border: 1px solid red;
    height: 25em;
}

.alert2 {
    background-color: orange;
}

.alert3 {
    background-color: red;
}

ul li {
    list-style: none;
}
